
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
	font-size: 3.5rem;
  }
}
.topWrapper {
	display: flex;
}
.logoSection {
	width: 300px;
}
.promo {
	color: black !important;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
}
.searchArea {
	    margin-top: 25%;
		margin-left: 11%;
}

.navigationBar, .blurb {
	background-color: #f5e4e4 !important;
	margin-bottom: 0 !important;
	    border-bottom: none !important;
}
img {
	border: none !important;
	padding: 0 !important;
}
li a {
	color: black;
}
.logo p {
	color: white;
}

.searchBar {
	width: 197%;
	margin: 0 auto;
}

.form-control {
	border-radius: 25px;
	background: url("http://kodyrabatowe.wp.pl/img/ico/search_gr.png") top left     no-repeat;
	height:60px;
	padding-left:25px;
}

.footerRow {
	padding: 25px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  height: 100%;
}

.PropertyImage {
  height: 225px;
}

.checked {
	color: orange;
}

.contactUsForm {
	width:52%;
	margin: 0 auto;
	margin-top: 9% !important
}

.Address {
	margin-bottom: 0 !important;
}

button {
	background-color: Transparent;
	border: 1px solid #f7b637;
	border-radius: 25px;
}
.eachAddress .jumbotron {
	padding: 13rem 2rem;
}

.descriptionBox {
	width: 85%;
	margin: 0 auto;
}

.reviewBox {
	width: 100%;
	height: 300px;

	margin-bottom: 4%;
	border: 2px solid #f7b637;
    border-radius: 49px;
}
.userInfo {
	padding-top: 24px;
	margin-left: 28px;
}
.rating {
	float: right;
	margin-right: 28px;
}
.userName {
	display: block;
	height: 0;
	clear: both;
}

.about-us-description{
	width: 80%;
	margin: 0 auto;
	margin-top: 6%;
}
.aboutProperty {
	margin-top:5%;
}

.ReviewsofProperty {
	margin-top:5%;
}
.reviewBox {
	margin-top: 3%;
}

.propertyOverview {
	margin-top: 4%;
}

.tenantBox {
	width: 90%;
margin: 0 auto;
margin-top: 5%;
}
.tenantBox p {
	font-size: 25px;
}


#map {
  height: 20%;
  width: 100%
}

.backHome {
	color: black !important;
	margin-left: 7%;
	margin-top: 3%;
}
