/* Container holding the image and the text */
.img-container {
  position: relative;
  text-align: center;
  color: black;
  overflow: hidden;
  height: 400px;
}

/* Top left text */
.address-title {
  position: absolute;
  top: 100px;
  left: 16px;
}

#house-img {
	object-fit: cover;
	width: 100%;
}