/* Container holding the image and the text */
.img-container {
  position: relative;
  text-align: center;
  color: black;
  overflow: hidden;
  height: 400px;
}

.address-title {
  position: absolute;
  top: 130px;
  left: 60px;
}

.blurb {
	margin-top: 50px;
	margin-left: 50px;
}
/*.blurb h1 {
	
}

.blurb p {
	
}*/

#house-img {
	object-fit: cover;
	width: 100%;
}